.tweet_area{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Tweet_div{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}